        <div id="page-heading">
            <ol class="breadcrumb">
                <li><a href="#/">运单管理</a></li>
                <li class="active">运单列表</li>
            </ol>

            <h1>运单列表</h1>
        </div>

        <div class="container-fluid" ng-controller="wayBillCtrl">
            <div class="row">
              <div class="col-md-12">
                    <panel panel-class="panel-primary" data-heading="运单管理列表">
                        <panel-controls>
                            <a href="javascript:;"><i class="fa fa-cog"></i></a>
                            <a href="javascript:;"><i class="fa fa-wrench"></i></a> 
                            <a href=""><panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse></a>
                        </panel-controls>
                        <div style="width:500px;display:flex;margin: 0 auto;">
                             <input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="请输入查询条件">
                            <a  ng-click="addWaybill()" class="btn btn-success" style="margin-left:10px">入库</a>
                            <a ng-click="deleteWaybill()" class="btn btn-danger" style="margin-left:10px">删除</a>
                            <a ng-click="modifyWaybill()"  class="btn btn-orange" style="margin-left:10px">编辑</a>
                        </div>
                        <div style="height: 500px;" ng-grid="gridOptions"></div>
                    </panel>
                </div>
            </div>

        </div> <!-- container -->
