<div class="verticalcenter" ng-controller="SignupPageController">
	<a href="#/"></a>
	<div class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;"></h4>
				<form action="#" class="form-horizontal" style="margin-bottom: 0px !important;">
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" class="form-control" id="username" placeholder="用户名">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="password" class="form-control" id="password" placeholder="密码">
								</div>
							</div>
						</div>
						<div class="clearfix">
							<div class="pull-right"><label><input type="checkbox" style="margin-bottom: 20px" checked="">记住我</label></div>
						</div>
<!--
						<div class="form-group">
							<div class="text-center">
								<p class="block">Or</p>
								<button class="btn btn-social btn-label btn-twitter" style="margin-bottom: 10px;"><i class="fa fa-twitter"></i> Sign in with Twitter</button>
								<button class="btn btn-social btn-label btn-facebook"><i class="fa fa-facebook"></i> Connect with Facebook</button>
							</div>
						</div> -->
					</form>
		</div>
		<div class="panel-footer">
			<a href="#/" class="pull-left btn btn-link" style="padding-left:0">忘记密码?</a>
			<div class="pull-right">
				<a href="#" class="btn btn-default">重置</a>
				<a href="#/ui-typography" class="btn btn-primary">登陆</a>
			</div>
		</div>
	</div>
</div>
